In [6]:
import xarray as xr

# Load the GRIB file
ds = xr.open_dataset('../download.grib', engine='cfgrib')

# Convert the Dataset to a DataFrame
df = ds.to_dataframe()

# Display the DataFrame
df.head()

                    number                time   step  isobaricInhPa  \
latitude longitude
90.0     0.00            0 2023-04-01 12:00:00 0 days          300.0
         0.25            0 2023-04-01 12:00:00 0 days          300.0
         0.50            0 2023-04-01 12:00:00 0 days          300.0
         0.75            0 2023-04-01 12:00:00 0 days          300.0
         1.00            0 2023-04-01 12:00:00 0 days          300.0

                            valid_time          r  ciwc  clwc         q  cswc  \
latitude longitude
90.0     0.00      2023-04-01 12:00:00  38.636604   0.0   0.0  0.000015   0.0
         0.25      2023-04-01 12:00:00  38.636604   0.0   0.0  0.000015   0.0
         0.50      2023-04-01 12:00:00  38.636604   0.0   0.0  0.000015   0.0
         0.75      2023-04-01 12:00:00  38.636604   0.0   0.0  0.000015   0.0
         1.00      2023-04-01 12:00:00  38.636604   0.0   0.0  0.000015   0.0

                            t         u         v        w
latitude longitude
90.0     0.00       218.06105 -0.000504 -0.001022  0.01453
         0.25       218.06105 -0.000504 -0.001022  0.01453
         0.50       218.06105 -0.000504 -0.001022  0.01453
         0.75       218.06105 -0.000504 -0.001022  0.01453
         1.00       218.06105 -0.000504 -0.001022  0.01453